In [1]:
import streamlit as st
import streamlit.components.v1 as components
import pandas as pd
import networkx as nx
from pyvis.network import Network
import json
import random

In [39]:
df_interact = pd.read_csv('data/aspect/interview_dict_corre.csv')
df_interact

      Unnamed: 0 item1 item2     value class
0              0   成就感   成就感  1.000000  成長價值
1              1  學習成長   成就感  0.029832  成長價值
2              2    創新   成就感 -0.002212  成長價值
3              3    薪資   成就感  0.140129  經濟報酬
4              4    福利   成就感 -0.009364  經濟報酬
...          ...   ...   ...       ...   ...
2596        2596    出路    負向 -0.010375  招募資訊
2597        2597    能力    負向  0.091756  招募資訊
2598        2598  招募人員    負向  0.258860  招募人員
2599        2599    正向    負向  0.275297    情緒
2600        2600    負向    負向  1.000000    情緒

[2601 rows x 5 columns]

In [40]:
df_interact = df_interact[df_interact['item1'] != df_interact['item2']]
df_interact

      Unnamed: 0 item1 item2     value class
1              1  學習成長   成就感  0.029832  成長價值
2              2    創新   成就感 -0.002212  成長價值
3              3    薪資   成就感  0.140129  經濟報酬
4              4    福利   成就感 -0.009364  經濟報酬
5              5  管理制度   成就感  0.015529  經濟報酬
...          ...   ...   ...       ...   ...
2595        2595    畢業    負向  0.021789  招募資訊
2596        2596    出路    負向 -0.010375  招募資訊
2597        2597    能力    負向  0.091756  招募資訊
2598        2598  招募人員    負向  0.258860  招募人員
2599        2599    正向    負向  0.275297    情緒

[2550 rows x 5 columns]

In [3]:
tf = open("./data/aspect.json", "r")
aspect_dict = json.load(tf)
aspect_dict

{'人際價值': ['工作氛圍', '同事互動', '主管風格'],
 '公司文化與價值': ['多元性', '企業社會責任', '企業永續目標'],
 '情緒': ['正向', '負向'],
 '成長價值': ['成就感', '學習成長', '創新'],
 '招募人員': ['招募人員'],
 '招募資訊': ['面試', '徵才', '實習', '工作', '離職', '轉職', '新鮮人', '畢業', '出路', '能力'],
 '產品與服務': ['引擎',
  '馬力',
  '避震',
  '外觀',
  '操控',
  '安全',
  '堅固',
  '配備',
  '價錢',
  '科技',
  '品質',
  '折舊',
  '品牌',
  '空間',
  '保養',
  '續航',
  '尺寸',
  '車種',
  '驅動',
  '變速箱'],
 '科系專業': ['電資', '機械', '製造', '車輛工程', '品管'],
 '組織安全與安定': ['工作地點', '公司規模', '工作環境', '產業前景'],
 '經濟報酬': ['薪資', '福利', '管理制度'],
 '變化性': ['輪調', '外派', '出差']}

### 定義每個構面使用的顏色

In [4]:
def generate_color():
  random_number = random.randint(0,16777215)
  hex_number = str(hex(random_number))
  hex_number ='#'+ hex_number[2:]
  return hex_number
aspect_color = {}
for k, v in aspect_dict.items():
    aspect_color[k] = generate_color()
aspect_color

{'人際價值': '#4126e2',
 '公司文化與價值': '#a4ec25',
 '情緒': '#f9b526',
 '成長價值': '#dfd9a5',
 '招募人員': '#ce9cca',
 '招募資訊': '#b186e4',
 '產品與服務': '#9c5bc6',
 '科系專業': '#97d59',
 '組織安全與安定': '#4072a7',
 '經濟報酬': '#a6db54',
 '變化性': '#f9d60a'}

### 篩選資料

In [5]:
# 依照構面該選資料
# df_select = df_interact.loc[df_interact['class'].isin(['成長價值'])]
# 依照關聯度篩選資料
df_select = df_interact[(df_interact['correlation'] > 0.1) & (df_interact['correlation'] < 1.0)]
df_select = df_select.reset_index(drop=True)
df_select

     Unnamed: 0 item1 item2  correlation    class
0             3    薪資   成就感     0.140129     經濟報酬
1            41    工作   成就感     0.122057     招募資訊
2            49    正向   成就感     0.153496       情緒
3            81   變速箱  學習成長     0.124769    產品與服務
4            86   多元性  學習成長     0.106385  公司文化與價值
..          ...   ...   ...          ...      ...
141        2558  主管風格    負向     0.250537     人際價值
142        2588    面試    負向     0.221136     招募資訊
143        2591    工作    負向     0.168323     招募資訊
144        2598  招募人員    負向     0.258860     招募人員
145        2599    正向    負向     0.275297       情緒

[146 rows x 5 columns]

In [29]:
def get_class_by_subclass(sub_class):
    for k, v in aspect_dict.items():
        if (sub_class in v):
            return k

In [31]:
[aspect_color[get_class_by_subclass(i)]  for i in df_select['item1']]

['#a6db54',
 '#b186e4',
 '#f9b526',
 '#9c5bc6',
 '#a4ec25',
 '#b186e4',
 '#b186e4',
 '#dfd9a5',
 '#a6db54',
 '#a6db54',
 '#f9d60a',
 '#a4ec25',
 '#b186e4',
 '#b186e4',
 '#f9b526',
 '#a6db54',
 '#a6db54',
 '#4072a7',
 '#b186e4',
 '#f9b526',
 '#a6db54',
 '#a6db54',
 '#f9d60a',
 '#a4ec25',
 '#b186e4',
 '#b186e4',
 '#f9b526',
 '#f9b526',
 '#b186e4',
 '#b186e4',
 '#b186e4',
 '#b186e4',
 '#ce9cca',
 '#f9b526',
 '#f9b526',
 '#9c5bc6',
 '#9c5bc6',
 '#a6db54',
 '#9c5bc6',
 '#9c5bc6',
 '#b186e4',
 '#f9b526',
 '#4072a7',
 '#a6db54',
 '#a6db54',
 '#a4ec25',
 '#9c5bc6',
 '#a4ec25',
 '#9c5bc6',
 '#97d59',
 '#4072a7',
 '#97d59',
 '#4072a7',
 '#4072a7',
 '#9c5bc6',
 '#9c5bc6',
 '#97d59',
 '#97d59',
 '#9c5bc6',
 '#4072a7',
 '#9c5bc6',
 '#9c5bc6',
 '#9c5bc6',
 '#b186e4',
 '#f9b526',
 '#a4ec25',
 '#9c5bc6',
 '#9c5bc6',
 '#dfd9a5',
 '#9c5bc6',
 '#9c5bc6',
 '#9c5bc6',
 '#9c5bc6',
 '#9c5bc6',
 '#dfd9a5',
 '#a6db54',
 '#a6db54',
 '#f9d60a',
 '#9c5bc6',
 '#b186e4',
 '#b186e4',
 '#9c5bc6',
 '#a4ec25',
 '#a4ec25',
 '#a4ec25',
 '#4126e2',
 '#b186e4',
 '#b186e4',
 '#b186e4',
 '#ce9cca',
 '#f9b526',
 '#f9b526',
 '#4126e2',
 '#b186e4',
 '#b186e4',
 '#ce9cca',
 '#dfd9a5',
 '#dfd9a5',
 '#dfd9a5',
 '#a6db54',
 '#a6db54',
 '#a6db54',
 '#4126e2',
 '#4126e2',
 '#4072a7',
 '#a4ec25',
 '#b186e4',
 '#b186e4',
 '#b186e4',
 '#ce9cca',
 '#f9b526',
 '#f9b526',
 '#a6db54',
 '#a4ec25',
 '#b186e4',
 '#9c5bc6',
 '#4126e2',
 '#b186e4',
 '#ce9cca',
 '#f9b526',
 '#4126e2',
 '#b186e4',
 '#b186e4',
 '#b186e4',
 '#b186e4',
 '#ce9cca',
 '#f9b526',
 '#f9b526',
 '#dfd9a5',
 '#a6db54',
 '#a6db54',
 '#4126e2',
 '#4126e2',
 '#4072a7',
 '#9c5bc6',
 '#b186e4',
 '#b186e4',
 '#b186e4',
 '#ce9cca',
 '#f9b526',
 '#4126e2',
 '#4126e2',
 '#b186e4',
 '#b186e4',
 '#ce9cca',
 '#f9b526']

In [23]:
df_select['item1']

0        薪資
1        工作
2        正向
3       變速箱
4       多元性
       ...
141    主管風格
142      面試
143      工作
144    招募人員
145      正向
Name: item1, Length: 146, dtype: object

In [9]:
net = Network()

In [41]:
df_select.shape[0]

146

In [7]:
nlist = list(range(1,df_select.shape[0]+1))
nlist

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146]

In [18]:
net = Network(notebook=True, cdn_resources='in_line')
net.add_nodes([1,2,3], value=[10, 100, 400],
            title=['I am node 1', 'node 2 here', 'and im node 3'],
            x=[21.4, 54.2, 11.2],
            y=[100.2, 23.54, 32.1],
            label=['NODE 1', 'NODE 2', 'NODE 3'],
            color=['#00ff1e', '#162347', '#dd4b39'])
net.show(name="gameofthrones.html")

gameofthrones.html

In [21]:
nx_graph = nx.complete_graph(8)  # 隨便建一個圖
g = Network(notebook=True,cdn_resources='in_line')
g.from_nx(nx_graph)
g.show('nx_graph.html')

nx_graph.html