In [306]:
import pandas as pd
import numpy as np
import math
import matplotlib.pyplot as plt 
import matplotlib
import re
from datetime import datetime
from wordcloud import WordCloud 
import jieba
import jieba.analyse
from datetime import date
import re
import string
from wordcloud import WordCloud

### 構面字典

In [307]:
# dict_ = pd.read_csv('../構面字典-new.csv')
dict_ = pd.read_csv('./aspect.csv')
df_dict = dict_[['name','alias']]
d_list = df_dict.to_dict(orient='records')
structure_dict = {} # 構面字典 => name:alias
for i in d_list:
    structure_dict[i['name']] = i['alias']
structure_dict.keys()#key:成就感,...

dict_keys(['成就感', '學習成長', '創新', '薪資', '福利', '管理制度', '工作氛圍', '同事互動', '主管風格', '工作地點', '公司規模', '工作環境', '產業前景', '輪調', '外派', '出差', '引擎', '馬力', '避震', '外觀', '操控', '安全', '堅固', '配備', '價錢', '科技', '品質', '折舊', '品牌', '空間', '保養', '續航', '尺寸', '車種', '驅動', '變速箱', '電資', '機械', '製造', '車輛工程', '品管', '多元性', '企業社會責任', '企業永續目標', '面試', '徵才', '實習', '工作', '離職', '轉職', '新鮮人', '畢業', '出路', '能力', '招募人員', '正向', '負向'])

In [308]:
structure_origin = dict_[['class','name']]
structures_list = structure_origin['class'].unique().tolist() # 有哪些構面字陣列

structure_origin_list = pd.DataFrame(structure_origin.groupby('class')['name'].apply(list)).reset_index().to_dict(orient='records')
transformed_data = [{item['class']: item['name']} for item in structure_origin_list] # 取得構面字典，型態為list of dict

In [309]:
new_dict = {}
for i in transformed_data:
    new_dict[list(i.keys())[0]] = list(i.values())[0]
new_dict

{'人際價值': ['工作氛圍', '同事互動', '主管風格'],
 '公司文化與價值': ['多元性', '企業社會責任', '企業永續目標'],
 '情緒': ['正向', '負向'],
 '成長價值': ['成就感', '學習成長', '創新'],
 '招募人員': ['招募人員'],
 '招募資訊': ['面試', '徵才', '實習', '工作', '離職', '轉職', '新鮮人', '畢業', '出路', '能力'],
 '產品與服務': ['引擎',
  '馬力',
  '避震',
  '外觀',
  '操控',
  '安全',
  '堅固',
  '配備',
  '價錢',
  '科技',
  '品質',
  '折舊',
  '品牌',
  '空間',
  '保養',
  '續航',
  '尺寸',
  '車種',
  '驅動',
  '變速箱'],
 '科系專業': ['電資', '機械', '製造', '車輛工程', '品管'],
 '組織安全與安定': ['工作地點', '公司規模', '工作環境', '產業前景'],
 '經濟報酬': ['薪資', '福利', '管理制度'],
 '變化性': ['輪調', '外派', '出差']}

In [310]:
# 以pattern_text 例如是成就感，那就會去找text中有出現成就感的alias的次數
def get_dict_num(pattern_text, text):
    pattern = r"(" + structure_dict[pattern_text] + ")"
    num = len(re.findall(pattern, text))
    return num

In [311]:
# 取得資料
df_ = pd.read_csv('./interview_clean.csv')
df_.drop(['Unnamed: 0','rank','difficult'], axis=1,inplace=True)
df_.rename(columns={'whole_art':'content'}, inplace=True)
df_ = df_[~df_['process'].isna()].reset_index(drop='index') # (7219 , 8)
df_.head()
df_
# df_ = df_[~df_['month_salary'].isna()].reset_index(drop='index')
# df_.drop(['month_salary','year_salary','year-end_salary','bonus','dividends','other','average_day','seniority','total_seniority','mood'], axis = 1, inplace=True)

,aID,company_name,vacancies,post_time,interview_time,status,process,question,suggestion,content,word
0,0,裕隆集團_納智捷汽車股份有限公司,企劃管理師,2022.08.24,2022.07,未錄取,針對專業提出疑問，並...,"[{'Q': '這個品牌業界傳的都不太好，為什麼願意來納智捷面試', 'A': '因為我本來...",NaN,針對專業提出疑問，並。這個品牌業界傳的都不太好，為什麼願意來納智捷面試？因為我本來就愛納智捷。,"['專業', '提出', '疑問', '品牌', '業界', '願意', '納智捷', '面..."
1,1,裕隆集團_納智捷汽車股份有限公司,管理師,2022.02.21,2019.02,無聲卡,整體面試過程約2小時...,"[{'Q': '對於納智捷的了解', 'A': '依照職位跟公司官網做...'}]",NaN,整體面試過程約2小時。對於納智捷的了解？依照職位跟公司官網做。,"['體面', '過程', '小時', '納智捷', '職位', '公司', '官網']"
2,2,裕隆集團_納智捷汽車股份有限公司,行銷專員,2022.01.13,2017.09,錄取,第一次面試先簡單自我...,"[{'Q': '會不會開車', 'A': '有駕照，但當時還不熟...'}]",NaN,第一次面試先簡單自我。會不會開車？有駕照，但當時還不熟。,"['面試', '簡單', '自我', '會不會', '開車', '駕照', '熟']"
3,3,裕隆集團_納智捷汽車股份有限公司,人力資源管理師,2021.09.12,2021.09,未錄取,第一關，人資面試\n...,"[{'Q': '結算薪資怎麼做', 'A': '照実回答'}]",NaN,第一關，人資面試。。結算薪資怎麼做？照実回答。,"['人資', '面試', '結算', '薪資', '照実', '回答']"
4,4,裕隆集團_納智捷汽車股份有限公司,秘書,2021.04.21,2017.09,錄取,在台南東區的廠二樓面...,"[{'Q': '與人交談方面的問題', 'A': '我是個開朗的人，比較...'}]",NaN,在台南東區的廠二樓面。與人交談方面的問題？我是個開朗的人，比較。,"['台南', '東區', '二樓面', '交談', '方面', '問題', '開朗']"
...,...,...,...,...,...,...,...,...,...,...,...
7249,7636,匯豐汽車股份有限公司,產品企劃專員,2018.04.20,2017.12,錄取,簡報說明令人印象深刻,"[{'Q': '針對產品提出看法', 'A': '直接腦袋中的想法講出...'}]",NaN,簡報說明令人印象深刻。針對產品提出看法？直接腦袋中的想法講出。,"['簡報', '說明', '令', '印象深刻', '產品', '提出', '看法', '直..."
7250,7637,匯豐汽車股份有限公司,SUM服務專員,2018.03.23,2010.06,錄取,面試過程其實很好，而...,"[{'Q': '時間有點久不太記得，但是要看你遇到的廠長是好是壞!', 'A': '時間有點...",NaN,面試過程其實很好，而。時間有點久不太記得，但是要看你遇到的廠長是好是壞!？時間有點久不太記得，。,"['面試', '過程', '時間', '記得', '遇到', '廠長', '壞', '時間'..."
7251,7638,匯豐汽車股份有限公司,總公司-品牌部,2018.01.24,2016.06,錄取,帶到會議室，等待面試...,[{'Q': '對於行銷與品牌的各種看法，EXCEL操作技能，網站經營(GA)，網路行銷規劃...,NaN,帶到會議室，等待面試。對於行銷與品牌的各種看法，EXCEL操作技能，網站經營(GA)，網路行...,"['帶到', '會議室', '等待', '面試', '行銷', '品牌', '看法', 'E..."
7252,7639,匯豐汽車股份有限公司,技師,2017.12.24,2002.06,錄取,直接面試 問維修相關...,"[{'Q': '需配合值班可否接受 前份工作為何離職', 'A': '可以\n\n職涯規劃'}]",NaN,直接面試 問維修相關。需配合值班可否接受 前份工作為何離職？可以。職涯規劃。,"['直接面試問', '維修', '相關', '需', '配合', '值班', '可否', '..."
7253,7640,匯豐汽車股份有限公司,貸款課,2017.12.24,2017.11,錄取,面試的過程談論一些公...,"[{'Q': '是否能接受假日工作', 'A': '不需要特別建議，採個...'}]",NaN,面試的過程談論一些公。是否能接受假日工作？不需要特別建議，採個。,"['面試', '過程', '談論', '接受', '假日', '工作', '需要', '特別..."

In [312]:
# 只用有解鎖的文章
# df_open = df_[df_['process'].apply(lambda x: isopen(x))].reset_index(drop='index')
df_open = df_[~df_['suggestion'].isna()]
df_open.shape

(536, 11)

In [313]:
# 字典型態的資料
# 資料轉為字典，比較方便去做計算
dict_ = df_open.to_dict(orient='records')

In [314]:
# 取得根據每個構面下的類別名稱，計算該類別名稱出現多少次，來去計算dtm
for structure in list(structure_dict.keys()):
    for data in dict_:
        data[structure] = get_dict_num(structure, data['content'])

In [315]:
# DTM for 趨勢圖
# 把用不到的欄位踢除
kick_off_key = ['company_name','status','process','question','suggestion','frequency_overtime','Q_content']
data_list = [{k: v for k, v in d.items() if k not in kick_off_key} for d in dict_]
# 得到DTM DataFrame
dtm_df = pd.DataFrame(data_list)
dtm_df.shape

(536, 63)

In [316]:
# DTM for correlation & co-ocurence #把用不到的欄位踢除
kick_off_ = ['vacancies','post_time','interview_time','content','company_name','status','process','question','suggestion','frequency_overtime','Q_content']
co_ = [{k: v for k, v in d.items() if k not in kick_off_} for d in dict_]
dtm_co = pd.DataFrame(co_)
dtm_co.head()

,aID,word,成就感,學習成長,創新,薪資,福利,管理制度,工作氛圍,同事互動,...,工作,離職,轉職,新鮮人,畢業,出路,能力,招募人員,正向,負向
0,41,"['專業', '能力', '測驗', '分鐘', '英文', '多益', '測驗', '分鐘...",0,0,0,0,0,2,0,0,...,1,0,0,0,0,0,6,3,2,218
1,42,"['浪費', '時間', '面試', '大夜班', '現場', '測試', '聽力', '打...",0,0,0,3,1,1,0,0,...,1,0,0,0,0,0,0,1,2,241
2,43,"['主管', '溫文儒雅', '先生', '感覺', '誠懇', '問題', '深入', '...",0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,2,3,192
3,44,"['面試', '視訊', '面試', 'HR', '物料', '管理', '部門', '主管...",0,2,0,0,0,5,0,1,...,2,0,0,0,0,0,4,3,12,647
4,45,"['遠', '端考', '英文', '專業', '測驗', '小時', '視訊', '面試'...",0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,2,2,1,189

In [317]:
dtm_df.head()

,aID,vacancies,post_time,interview_time,content,word,成就感,學習成長,創新,薪資,...,工作,離職,轉職,新鮮人,畢業,出路,能力,招募人員,正向,負向
0,41,職員,2023.03.24,2023.03,首先會先做專業能力測驗，大約50分鐘，再來會做英文多益測驗40分鐘，做完後就進行視訊面試，1...,"['專業', '能力', '測驗', '分鐘', '英文', '多益', '測驗', '分鐘...",0,0,0,0,...,1,0,0,0,0,0,6,3,2,218
1,42,客服,2023.03.24,2023.01,覺得很浪費時間，我面試大夜班，到現場要先測試聽力打字，現場很吵，然後反應也沒用，也不知道在測...,"['浪費', '時間', '面試', '大夜班', '現場', '測試', '聽力', '打...",0,0,0,3,...,1,0,0,0,0,0,0,1,2,241
2,43,職員,2023.03.06,2018.01,主管是一個溫文儒雅的先生 真的感覺得出來他非常誠懇 然後問的問題沒有太多深入的題目 主要就是...,"['主管', '溫文儒雅', '先生', '感覺', '誠懇', '問題', '深入', '...",0,0,0,0,...,0,0,0,0,0,0,0,2,3,192
3,44,物料管理實習生,2023.03.02,2022.05,面試是以視訊面試進行，除了HR以外還有一個物料管理部門的主管（？）之類的長官，整體面試進行的...,"['面試', '視訊', '面試', 'HR', '物料', '管理', '部門', '主管...",0,2,0,0,...,2,0,0,0,0,0,4,3,12,647
4,45,職員,2023.02.16,2021.06,先遠端考英文及專業測驗，大約1個半小時，而後開始視訊面試。面談大約進行一小時，面試官有3-4...,"['遠', '端考', '英文', '專業', '測驗', '小時', '視訊', '面試'...",0,0,0,0,...,0,0,0,0,0,0,2,2,1,189

In [318]:
def get_ym(time):
    l = time.split('.')
    return l[0]+"-"+l[1]

In [319]:
# # 新增年月日欄位
# date_format = '%Y.%m.%d'
# dtm_df['post_time'] = dtm_df['post_time'].apply(lambda x: datetime.strptime(x, date_format))
# dtm_df['p_year'] = dtm_df['post_time'].apply(lambda x: x.year)
# dtm_df['p_month'] = dtm_df['post_time'].apply(lambda x: x.month)
# dtm_df['p_day'] = dtm_df['post_time'].apply(lambda x: x.day)
dtm_df['p_year_month'] = dtm_df['post_time'].apply(lambda x: get_ym(x))
dtm_df = dtm_df.reindex(columns=['vacancies', 'post_time', 'p_year_month', 'interview_time', 'content', 'word', '成就感', '學習成長',
       '創新', '薪資', '福利', '管理制度', '工作氛圍', '同事互動', '主管風格', '工作地點', '公司規模',
       '工作環境', '產業前景', '輪調', '外派', '出差', '引擎', '馬力', '避震', '外觀', '操控', '安全',
       '堅固', '配備', '價錢', '科技', '品質', '折舊', '品牌', '空間', '保養', '續航', '尺寸', '車種',
       '驅動', '變速箱', '電資', '機械', '製造', '車輛工程', '品管', '多元性', '企業社會責任', '企業永續目標',
       '面試', '徵才', '實習', '工作', '離職', '轉職', '新鮮人', '畢業', '出路', '能力', '招募人員',
       '正向', '負向'])
dtm_df

,vacancies,post_time,p_year_month,interview_time,content,word,成就感,學習成長,創新,薪資,...,工作,離職,轉職,新鮮人,畢業,出路,能力,招募人員,正向,負向
0,職員,2023.03.24,2023-03,2023.03,首先會先做專業能力測驗，大約50分鐘，再來會做英文多益測驗40分鐘，做完後就進行視訊面試，1...,"['專業', '能力', '測驗', '分鐘', '英文', '多益', '測驗', '分鐘...",0,0,0,0,...,1,0,0,0,0,0,6,3,2,218
1,客服,2023.03.24,2023-03,2023.01,覺得很浪費時間，我面試大夜班，到現場要先測試聽力打字，現場很吵，然後反應也沒用，也不知道在測...,"['浪費', '時間', '面試', '大夜班', '現場', '測試', '聽力', '打...",0,0,0,3,...,1,0,0,0,0,0,0,1,2,241
2,職員,2023.03.06,2023-03,2018.01,主管是一個溫文儒雅的先生 真的感覺得出來他非常誠懇 然後問的問題沒有太多深入的題目 主要就是...,"['主管', '溫文儒雅', '先生', '感覺', '誠懇', '問題', '深入', '...",0,0,0,0,...,0,0,0,0,0,0,0,2,3,192
3,物料管理實習生,2023.03.02,2023-03,2022.05,面試是以視訊面試進行，除了HR以外還有一個物料管理部門的主管（？）之類的長官，整體面試進行的...,"['面試', '視訊', '面試', 'HR', '物料', '管理', '部門', '主管...",0,2,0,0,...,2,0,0,0,0,0,4,3,12,647
4,職員,2023.02.16,2023-02,2021.06,先遠端考英文及專業測驗，大約1個半小時，而後開始視訊面試。面談大約進行一小時，面試官有3-4...,"['遠', '端考', '英文', '專業', '測驗', '小時', '視訊', '面試'...",0,0,0,0,...,0,0,0,0,0,0,2,2,1,189
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
531,引電技師,2022.12.04,2022-12,2021.04,一開始課長會先給你一份試卷，裡面包含了汽車原理，專有名詞英翻中，繼電器原理，與實境題目，考完...,"['課長', '試卷', '包含', '汽車', '原理', '專有名詞', '英翻中', ...",0,0,0,2,...,2,0,0,0,0,0,0,0,6,279
532,教育訓練講師,2023.04.09,2023-04,2021.07,筆試時間大約兩個小時。包含英文測驗、過去在學的經歷等等，比如過去做的專題、遇到困難時要怎麼辦...,"['筆試', '時間', '小時', '包含', '英文', '測驗', '過去', '在學...",0,1,0,2,...,1,0,0,0,0,0,1,2,6,228
533,專員,2023.03.26,2023-03,2021.12,第一一關進行筆試，主要是考英文，英文建議有850以上的實力會比較好作答。第二關個案分析，給你...,"['第一一', '筆試', '英文', '英文', '建議', '850', '實力', '...",0,1,0,1,...,0,0,0,0,0,0,1,2,4,210
534,會計助理,2023.03.01,2023-03,2020.09,工作環境很好，畢竟以車業來說，公司環境也算是門面，面試有筆試完後會計主管會面談，談話過程還算...,"['工作環境', '車業', '公司', '環境', '門面', '面試', '筆試', '...",0,0,0,1,...,3,0,0,0,0,0,1,2,3,200
535,實習生,2023.01.15,2023-01,2021.03,是副廠長跟人資幫我面試的，一開始先自我介紹然後會問說以前有沒有修車的經驗等等。然後會說希望在...,"['副廠長', '人資', '面試', '自我介紹', '車', '經驗', '希望', '...",0,5,0,1,...,0,0,0,0,0,0,0,1,3,218

In [320]:
dtm_df.to_csv('dtm_result.csv', encoding='utf-8')

### 計算correlation

In [18]:
df_correlation = pd.DataFrame(np.corrcoef(dtm_co.T),columns=dtm_co.columns, index=dtm_co.columns)

/Users/changchenyu/opt/anaconda3/envs/sma/lib/python3.7/site-packages/numpy/lib/function_base.py:2691: RuntimeWarning: invalid value encountered in true_divide
  c /= stddev[:, None]
/Users/changchenyu/opt/anaconda3/envs/sma/lib/python3.7/site-packages/numpy/lib/function_base.py:2692: RuntimeWarning: invalid value encountered in true_divide
  c /= stddev[None, :]

In [20]:
df_corre_vect = df_correlation.reset_index()
df_corre_vect.rename(columns={'index': 'item1'}, inplace=True)
df_corre_vect

,item1,成就感,學習成長,創新,薪資,福利,管理制度,工作氛圍,同事互動,主管風格,...,工作,離職,轉職,新鮮人,畢業,出路,能力,招募人員,正向,負向
0,成就感,1.000000,0.043843,-0.012927,0.081711,-0.046301,-0.031028,-0.026186,-0.007492,-0.043460,...,0.089708,0.047853,-0.013716,-0.001807,0.014914,-0.039775,-0.034507,-0.038126,0.126932,-0.005064
1,學習成長,0.043843,1.000000,0.060496,-0.040755,0.022032,0.048898,0.008600,0.175008,0.195431,...,0.203451,-0.002673,0.028902,0.252897,0.013700,0.072116,0.202757,0.305837,0.273331,0.328328
2,創新,-0.012927,0.060496,1.000000,-0.028549,-0.029144,0.030081,-0.034661,0.108407,-0.059742,...,-0.001728,-0.022267,-0.006440,-0.017158,-0.014795,-0.018676,0.118290,-0.021991,0.128881,0.044477
3,薪資,0.081711,-0.040755,-0.028549,1.000000,0.584063,0.193192,0.058120,-0.052762,0.002311,...,0.161982,0.152310,-0.030292,0.023903,0.131384,0.013005,-0.002978,0.016203,0.133677,0.170845
4,福利,-0.046301,0.022032,-0.029144,0.584063,1.000000,0.224522,0.074269,-0.050447,-0.033819,...,0.141007,0.041224,-0.030924,0.008752,-0.016902,0.017714,-0.002645,-0.005324,0.222602,0.158065
5,管理制度,-0.031028,0.048898,0.030081,0.193192,0.224522,1.000000,0.114911,0.071079,0.065338,...,0.263214,0.027626,0.005598,-0.048423,0.079368,0.024955,0.025430,0.104163,0.108575,0.270217
6,工作氛圍,-0.026186,0.008600,-0.034661,0.058120,0.074269,0.114911,1.000000,0.238897,-0.014182,...,0.270494,-0.005949,-0.036778,0.014189,0.174460,-0.028003,0.176209,0.090415,0.258276,0.303527
7,同事互動,-0.007492,0.175008,0.108407,-0.052762,-0.050447,0.071079,0.238897,1.000000,0.040301,...,0.221062,-0.026020,0.131075,-0.028701,0.065159,0.018429,0.521688,0.098716,0.241474,0.361233
8,主管風格,-0.043460,0.195431,-0.059742,0.002311,-0.033819,0.065338,-0.014182,0.040301,1.000000,...,0.176377,-0.022391,0.117925,0.008405,0.170304,0.017707,0.154486,0.834510,0.321619,0.457814
9,工作地點,-0.042637,0.025314,-0.020020,0.133042,0.083420,0.059112,0.023088,-0.026862,0.131366,...,0.121919,0.129085,-0.021243,-0.056594,0.035786,-0.046347,0.050391,0.141632,0.094732,0.206748
10,公司規模,-0.028327,0.073705,-0.013301,0.015996,0.020371,0.111916,0.037146,-0.053091,0.069630,...,0.006943,0.026616,-0.014113,0.003639,0.243159,0.018709,-0.010002,0.148217,0.060375,0.121083
11,工作環境,-0.044067,0.055923,-0.035551,0.181238,0.295200,0.107148,0.140732,0.060067,0.011297,...,0.260462,0.055413,0.001694,0.021451,0.062747,0.008179,0.038132,0.062251,0.225299,0.237835
12,產業前景,-0.020232,0.237207,0.015712,-0.032677,-0.021327,-0.047352,0.099757,0.240380,0.028465,...,0.138254,-0.034087,-0.019808,0.060092,0.004778,0.148089,0.415519,0.091110,0.093278,0.233726
13,輪調,0.053966,-0.041705,-0.009444,0.067130,-0.023746,0.230120,0.033065,0.027471,-0.017704,...,0.112852,0.052359,-0.010020,-0.026695,-0.023018,-0.029057,-0.012131,-0.022287,-0.021510,0.099305
14,外派,0.020676,0.100331,-0.010067,0.087413,0.062168,-0.007707,-0.045121,-0.045969,0.008933,...,0.074551,0.037265,-0.010681,0.187935,-0.024537,-0.004897,-0.022225,0.014381,0.001750,0.030674
15,出差,-0.018529,-0.035870,-0.008701,0.047167,0.071923,0.017721,0.041913,-0.021148,0.130257,...,0.123525,-0.031918,-0.009232,-0.024595,-0.021207,-0.026771,0.040462,0.100331,0.019895,0.123430
16,引擎,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,馬力,-0.005037,0.329176,0.045884,0.170028,0.157193,0.268742,0.305806,0.361682,0.458849,...,0.453377,0.061523,0.037802,0.040910,0.348836,0.021927,0.442901,0.625671,0.578804,0.999949
18,避震,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,外觀,-0.015388,-0.012821,-0.007225,0.087939,0.097498,0.006280,-0.041260,0.013303,-0.062891,...,0.008768,-0.026507,-0.007667,-0.020425,-0.017612,0.017876,0.012160,-0.078319,0.001588,-0.006485
20,操控,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,安全,-0.016741,-0.050868,-0.007861,0.069145,0.023892,0.006832,-0.003511,0.031263,-0.004000,...,-0.006164,0.012547,-0.008341,-0.022222,-0.019161,0.237632,-0.041202,-0.028480,0.115463,0.064333
22,堅固,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,配備,-0.026152,0.014735,-0.012280,0.077621,0.135744,-0.036166,0.050536,0.017362,-0.036067,...,0.125282,0.015289,-0.013029,-0.034712,-0.029931,-0.037784,0.001231,-0.015541,0.092942,0.060646
24,價錢,-0.011186,0.009181,-0.005253,0.130404,0.070878,0.047498,-0.029995,-0.023986,0.073855,...,0.071951,-0.019269,-0.005573,-0.014848,-0.012803,-0.016162,-0.006748,0.047305,0.035534,0.002151
25,科技,-0.021597,-0.028578,-0.010141,0.005540,-0.007462,-0.037234,0.066644,-0.046308,-0.087241,...,0.001052,0.087367,-0.010760,-0.028666,-0.024718,-0.031202,-0.036433,-0.042431,-0.037362,0.006416
26,品質,-0.030323,0.013185,0.143096,0.092805,0.100956,0.169486,0.010505,-0.022444,-0.008542,...,-0.014009,0.000237,0.096187,-0.040250,-0.034706,-0.043811,0.040864,0.002360,0.048254,0.073875
27,折舊,-0.007901,0.097960,-0.003710,-0.017449,-0.017813,0.154842,-0.021186,0.093994,-0.042427,...,0.167539,-0.013610,-0.003936,-0.010487,-0.009043,-0.011415,-0.030455,0.061523,0.016152,0.174083
28,品牌,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,空間,0.067553,0.005671,-0.009883,0.103608,0.004208,0.100909,-0.004414,-0.045131,0.057967,...,0.071218,0.015774,-0.010487,-0.027938,-0.024090,0.024452,0.026409,0.042647,0.049836,0.111399
30,保養,0.025150,0.156740,-0.010689,-0.005183,0.060426,0.077938,0.051493,0.042511,-0.029773,...,0.093042,-0.039214,-0.011342,0.000557,-0.026055,0.026446,-0.019018,0.080839,0.053901,0.129152
31,續航,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,尺寸,0.045514,-0.018808,-0.007965,0.056616,0.016401,-0.009352,0.101254,0.142247,0.010452,...,0.116059,-0.029218,-0.008451,-0.022514,0.034216,-0.024506,0.038024,0.031495,0.020270,0.106160
33,車種,-0.007901,-0.024007,-0.003710,-0.017449,-0.017813,-0.027099,-0.021186,0.038526,-0.042427,...,-0.014025,-0.013610,-0.003936,-0.010487,-0.009043,-0.011415,-0.004766,-0.050923,-0.019633,-0.005932
34,驅動,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,變速箱,-0.007901,0.280909,-0.003710,0.026372,0.117936,0.003224,0.047165,-0.016941,-0.042427,...,-0.039963,-0.013610,-0.003936,-0.010487,-0.009043,-0.011415,-0.030455,-0.032182,-0.001741,-0.014921
36,電資,-0.014661,0.142985,0.072865,0.047624,-0.000551,0.026856,0.105416,0.198895,0.003903,...,0.180851,-0.024231,-0.020323,0.147239,0.065460,0.021962,0.252170,0.069428,0.115513,0.279087
37,機械,-0.018337,0.085816,-0.008610,0.112057,0.037421,0.025077,0.307749,0.218143,0.025020,...,0.178140,-0.031587,-0.009136,-0.024339,0.152942,0.015328,0.137988,0.131911,0.146487,0.256476
38,製造,-0.006874,0.041617,0.001658,-0.015703,0.044361,0.092066,0.004377,0.041449,0.069337,...,0.076205,0.030523,0.148637,-0.001996,0.004041,0.041609,0.099332,0.013545,0.073543,0.152275
39,車輛工程,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,品管,-0.030323,0.001483,0.143096,0.118033,0.140031,0.134572,-0.028844,0.030776,0.005072,...,0.005901,0.026473,0.096187,-0.040250,-0.034706,-0.043811,0.006357,-0.004833,0.072288,0.060757
41,多元性,0.061590,0.137143,-0.013760,0.106368,0.039929,0.154024,0.081534,-0.019524,0.059604,...,0.155575,0.082964,-0.014600,0.136239,0.161519,0.126506,0.002383,0.089167,0.105310,0.102998
42,企業社會責任,-0.007901,0.036976,-0.003710,-0.017449,-0.017813,0.033548,-0.021186,0.149461,0.028516,...,0.037850,-0.013610,0.576040,-0.010487,-0.009043,-0.011415,0.020923,0.024041,-0.019633,0.032862
43,企業永續目標,-0.007901,0.036976,-0.003710,-0.017449,-0.017813,0.033548,-0.021186,0.149461,0.028516,...,0.037850,-0.013610,0.576040,-0.010487,-0.009043,-0.011415,0.020923,0.024041,-0.019633,0.032862
44,面試,-0.007385,0.192896,0.086795,0.057435,-0.006595,0.106712,0.218078,0.272914,0.342875,...,0.295559,0.038084,-0.002255,0.050292,0.351418,-0.000641,0.319187,0.575668,0.400275,0.678857
45,徵才,-0.014577,0.020000,-0.037715,0.014418,0.000997,-0.000045,0.087015,0.020955,0.229793,...,0.127205,-0.003232,0.069166,-0.043276,0.171429,0.107848,0.128068,0.249688,0.123774,0.266195
46,實習,0.044551,0.427958,0.175532,-0.071217,-0.025872,0.064686,0.017191,0.282433,0.171539,...,0.105705,-0.023848,0.011439,0.058211,0.026278,-0.006937,0.308477,0.211128,0.302637,0.307890
47,工作,0.089708,0.203451,-0.001728,0.161982,0.141007,0.263214,0.270494,0.221062,0.176377,...,1.000000,0.198874,0.020680,-0.002950,0.156115,0.015201,0.188578,0.245211,0.214731,0.454058
48,離職,0.047853,-0.002673,-0.022267,0.152310,0.041224,0.027626,-0.005949,-0.026020,-0.022391,...,0.198874,1.000000,-0.023627,0.018644,-0.054275,0.088802,-0.088176,0.001134,0.038366,0.062490
49,轉職,-0.013716,0.028902,-0.006440,-0.030292,-0.030924,0.005598,-0.036778,0.131075,0.117925,...,0.020680,-0.023627,1.000000,-0.018206,-0.015698,-0.019817,-0.023139,0.085114,0.007332,0.036379
50,新鮮人,-0.001807,0.252897,-0.017158,0.023903,0.008752,-0.048423,0.014189,-0.028701,0.008405,...,-0.002950,0.018644,-0.018206,1.000000,-0.012007,0.205292,0.043112,0.055268,0.048006,0.040924
51,畢業,0.014914,0.013700,-0.014795,0.131384,-0.016902,0.079368,0.174460,0.065159,0.170304,...,0.156115,-0.054275,-0.015698,-0.012007,1.000000,0.011966,0.160272,0.234137,0.221386,0.348256
52,出路,-0.039775,0.072116,-0.018676,0.013005,0.017714,0.024955,-0.028003,0.018429,0.017707,...,0.015201,0.088802,-0.019817,0.205292,0.011966,1.000000,0.086855,-0.002970,0.068442,0.022262
53,能力,-0.034507,0.202757,0.118290,-0.002978,-0.002645,0.025430,0.176209,0.521688,0.154486,...,0.188578,-0.088176,-0.023139,0.043112,0.160272,0.086855,1.000000,0.182622,0.290755,0.442509
54,招募人員,-0.038126,0.305837,-0.021991,0.016203,-0.005324,0.104163,0.090415,0.098716,0.834510,...,0.245211,0.001134,0.085114,0.055268,0.234137,-0.002970,0.182622,1.000000,0.404199,0.624562
55,正向,0.126932,0.273331,0.128881,0.133677,0.222602,0.108575,0.258276,0.241474,0.321619,...,0.214731,0.038366,0.007332,0.048006,0.221386,0.068442,0.290755,0.404199,1.000000,0.578160
56,負向,-0.005064,0.328328,0.044477,0.170845,0.158065,0.270217,0.303527,0.361233,0.457814,...,0.454058,0.062490,0.036379,0.040924,0.348256,0.022262,0.442509,0.624562,0.578160,1.000000

In [22]:
corr_melt_df = pd.melt(df_corre_vect, id_vars='item1', value_vars=list(df_corre_vect.columns)[1:], var_name='item2', value_name='correlation')
corr_melt_df.rename(columns={'index':'item1'},inplace=True)
corr_melt_df

     item1 item2  correlation
0      成就感   成就感     1.000000
1     學習成長   成就感     0.043843
2       創新   成就感    -0.012927
3       薪資   成就感     0.081711
4       福利   成就感    -0.046301
...    ...   ...          ...
3244    出路    負向     0.022262
3245    能力    負向     0.442509
3246  招募人員    負向     0.624562
3247    正向    負向     0.578160
3248    負向    負向     1.000000

[3249 rows x 3 columns]

In [49]:
new_dict

{'人際價值': ['工作氛圍', '同事互動', '主管風格'],
 '公司文化與價值': ['多元性', '企業社會責任', '企業永續目標'],
 '情緒': ['正向', '負向'],
 '成長價值': ['成就感', '學習成長', '創新'],
 '招募人員': ['招募人員'],
 '招募資訊': ['面試', '徵才', '實習', '工作', '離職', '轉職', '新鮮人', '畢業', '出路', '能力'],
 '產品與服務': ['引擎',
  '馬力',
  '避震',
  '外觀',
  '操控',
  '安全',
  '堅固',
  '配備',
  '價錢',
  '科技',
  '品質',
  '折舊',
  '品牌',
  '空間',
  '保養',
  '續航',
  '尺寸',
  '車種',
  '驅動',
  '變速箱'],
 '科系專業': ['電資', '機械', '製造', '車輛工程', '品管'],
 '組織安全與安定': ['工作地點', '公司規模', '工作環境', '產業前景'],
 '經濟報酬': ['薪資', '福利', '管理制度'],
 '變化性': ['輪調', '外派', '出差']}

In [55]:
def get_class_by_subclass(sub_class):
    for k, v in new_dict.items():
        if (sub_class in v):
            return k

In [58]:
corr_melt_df2 = corr_melt_df[~corr_melt_df['correlation'].isnull()].reset_index(drop='index')
corr_melt_df2['class'] = corr_melt_df2['item1'].apply(lambda x: get_class_by_subclass(x))
corr_melt_df2

     item1 item2  correlation class
0      成就感   成就感     1.000000  成長價值
1     學習成長   成就感     0.043843  成長價值
2       創新   成就感    -0.012927  成長價值
3       薪資   成就感     0.081711  經濟報酬
4       福利   成就感    -0.046301  經濟報酬
...    ...   ...          ...   ...
2396    出路    負向     0.022262  招募資訊
2397    能力    負向     0.442509  招募資訊
2398  招募人員    負向     0.624562  招募人員
2399    正向    負向     0.578160    情緒
2400    負向    負向     1.000000    情緒

[2401 rows x 4 columns]

In [70]:
corr_melt_df3 = corr_melt_df2[(corr_melt_df2['correlation'] <0) & (corr_melt_df2['correlation'] < 100)]
corr_melt_df3

       item1 item2  correlation    class
2         創新   成就感    -0.012927     成長價值
4         福利   成就感    -0.046301     經濟報酬
5       管理制度   成就感    -0.031028     經濟報酬
6       工作氛圍   成就感    -0.026186     人際價值
7       同事互動   成就感    -0.007492     人際價值
...      ...   ...          ...      ...
2338  企業永續目標    正向    -0.019633  公司文化與價值
2352     成就感    負向    -0.005064     成長價值
2369      外觀    負向    -0.006485    產品與服務
2379      車種    負向    -0.005932    產品與服務
2380     變速箱    負向    -0.014921    產品與服務

[1084 rows x 4 columns]

In [67]:
a = list(corr_melt_df2['class'].unique())
a

['成長價值',
 '經濟報酬',
 '人際價值',
 '組織安全與安定',
 '變化性',
 '產品與服務',
 '科系專業',
 '公司文化與價值',
 '招募資訊',
 '招募人員',
 '情緒']

In [68]:
a.sort()
a

['人際價值',
 '公司文化與價值',
 '情緒',
 '成長價值',
 '招募人員',
 '招募資訊',
 '產品與服務',
 '科系專業',
 '組織安全與安定',
 '經濟報酬',
 '變化性']

In [59]:
corr_melt_df2.to_csv('interview_corr.csv', encoding='utf-8')

In [176]:
corr_melt_df[corr_melt_df['item1'] == '負向'].sort_values(['correlation'], ascending=False)[1:7]

     item1 item2  correlation
1025    負向    馬力     0.999949
2564    負向    面試     0.678857
3134    負向  招募人員     0.624562
3191    負向    正向     0.578160
512     負向  主管風格     0.457814
2735    負向    工作     0.454058

### 計算 co-occurrence

In [178]:
result = np.dot(dtm_co.T.values, dtm_co.values)
co_occurrence_df = pd.DataFrame(result, columns=dtm_co.columns, index=dtm_co.columns)
co_occurrence_df.head()

,成就感,學習成長,創新,薪資,福利,管理制度,工作氛圍,同事互動,主管風格,工作地點,...,工作,離職,轉職,新鮮人,畢業,出路,能力,招募人員,正向,負向
成就感,19,9,0,14,1,9,3,4,19,0,...,38,3,0,1,1,0,12,32,77,4169
學習成長,9,338,4,54,51,182,56,105,448,24,...,397,17,2,40,9,22,336,741,790,72241
創新,0,4,6,0,0,6,0,6,1,0,...,6,0,0,0,0,0,16,8,30,1596
薪資,14,54,0,592,243,303,74,32,318,49,...,414,43,0,16,23,16,206,498,716,66516
福利,1,51,0,243,248,213,52,22,187,25,...,259,16,0,9,4,11,136,311,543,42820

In [181]:
df_ocurr_vect = co_occurrence_df.reset_index()
df_ocurr_vect.rename(columns={'index': 'item1'}, inplace=True)
df_ocurr_vect
ocurr_melt_df = pd.melt(df_ocurr_vect, id_vars='item1', value_vars=list(df_ocurr_vect.columns)[1:], var_name='item2', value_name='ocurrelation')
ocurr_melt_df.rename(columns={'index':'item1'},inplace=True)
ocurr_melt_df

     item1 item2  ocurrelation
0      成就感   成就感            19
1     學習成長   成就感             9
2       創新   成就感             0
3       薪資   成就感            14
4       福利   成就感             1
...    ...   ...           ...
3244    出路    負向         10597
3245    能力    負向        221842
3246  招募人員    負向        482379
3247    正向    負向        525814
3248    負向    負向      53580858

[3249 rows x 3 columns]