In [18]:
import pandas as pd
import numpy as np
import math
import matplotlib.pyplot as plt 
import matplotlib
import re
from datetime import datetime
from wordcloud import WordCloud 
import jieba
import jieba.analyse
from datetime import date
import re
import string
from wordcloud import WordCloud

### 構面字典

In [19]:
# dict_ = pd.read_csv('../構面字典-new.csv')
dict_ = pd.read_csv('./aspect.csv')
df_dict = dict_[['name','alias']]
d_list = df_dict.to_dict(orient='records')
structure_dict = {} # 構面字典 => name:alias
for i in d_list:
    structure_dict[i['name']] = i['alias']
structure_dict.keys()#key:成就感,...

dict_keys(['成就感', '學習成長', '創新', '薪資', '福利', '管理制度', '工作氛圍', '同事互動', '主管風格', '工作地點', '公司規模', '工作環境', '產業前景', '輪調', '外派', '出差', '引擎', '馬力', '避震', '外觀', '操控', '安全', '堅固', '配備', '價錢', '科技', '品質', '折舊', '品牌', '空間', '保養', '續航', '尺寸', '車種', '驅動', '變速箱', '電資', '機械', '製造', '車輛工程', '品管', '多元性', '企業社會責任', '企業永續目標', '面試', '徵才', '實習', '工作', '離職', '轉職', '新鮮人', '畢業', '出路', '能力', '招募人員', '正向', '負向'])

In [20]:
structure_origin = dict_[['class','name']]
structures_list = structure_origin['class'].unique().tolist() # 有哪些構面字陣列

structure_origin_list = pd.DataFrame(structure_origin.groupby('class')['name'].apply(list)).reset_index().to_dict(orient='records')
transformed_data = [{item['class']: item['name']} for item in structure_origin_list] # 取得構面字典，型態為list of dict

In [21]:
new_dict = {}
for i in transformed_data:
    new_dict[list(i.keys())[0]] = list(i.values())[0]
new_dict

{'人際價值': ['工作氛圍', '同事互動', '主管風格'],
 '公司文化與價值': ['多元性', '企業社會責任', '企業永續目標'],
 '情緒': ['正向', '負向'],
 '成長價值': ['成就感', '學習成長', '創新'],
 '招募人員': ['招募人員'],
 '招募資訊': ['面試', '徵才', '實習', '工作', '離職', '轉職', '新鮮人', '畢業', '出路', '能力'],
 '產品與服務': ['引擎',
  '馬力',
  '避震',
  '外觀',
  '操控',
  '安全',
  '堅固',
  '配備',
  '價錢',
  '科技',
  '品質',
  '折舊',
  '品牌',
  '空間',
  '保養',
  '續航',
  '尺寸',
  '車種',
  '驅動',
  '變速箱'],
 '科系專業': ['電資', '機械', '製造', '車輛工程', '品管'],
 '組織安全與安定': ['工作地點', '公司規模', '工作環境', '產業前景'],
 '經濟報酬': ['薪資', '福利', '管理制度'],
 '變化性': ['輪調', '外派', '出差']}

In [22]:
# 以pattern_text 例如是成就感，那就會去找text中有出現成就感的alias的次數
def get_dict_num(pattern_text, text):
    pattern = r"(" + structure_dict[pattern_text] + ")"
    num = len(re.findall(pattern, text))
    return num

In [23]:
# 取得資料
df_ = pd.read_csv('./interview_clean.csv')
df_.drop(['Unnamed: 0','rank','difficult'], axis=1,inplace=True)
df_.rename(columns={'whole_art':'content'}, inplace=True)
df_ = df_[~df_['process'].isna()].reset_index(drop='index') # (7219 , 8)
df_.head()
df_
# df_ = df_[~df_['month_salary'].isna()].reset_index(drop='index')
# df_.drop(['month_salary','year_salary','year-end_salary','bonus','dividends','other','average_day','seniority','total_seniority','mood'], axis = 1, inplace=True)

,aID,company_name,vacancies,post_time,interview_time,status,process,question,suggestion,content,word
0,0,裕隆集團_納智捷汽車股份有限公司,企劃管理師,2022.08.24,2022.07,未錄取,針對專業提出疑問，並...,"[{'Q': '這個品牌業界傳的都不太好，為什麼願意來納智捷面試', 'A': '因為我本來...",NaN,針對專業提出疑問，並。這個品牌業界傳的都不太好，為什麼願意來納智捷面試？因為我本來就愛納智捷。,"['專業', '提出', '疑問', '品牌', '業界', '願意', '納智捷', '面..."
1,1,裕隆集團_納智捷汽車股份有限公司,管理師,2022.02.21,2019.02,無聲卡,整體面試過程約2小時...,"[{'Q': '對於納智捷的了解', 'A': '依照職位跟公司官網做...'}]",NaN,整體面試過程約2小時。對於納智捷的了解？依照職位跟公司官網做。,"['體面', '過程', '小時', '納智捷', '職位', '公司', '官網']"
2,2,裕隆集團_納智捷汽車股份有限公司,行銷專員,2022.01.13,2017.09,錄取,第一次面試先簡單自我...,"[{'Q': '會不會開車', 'A': '有駕照，但當時還不熟...'}]",NaN,第一次面試先簡單自我。會不會開車？有駕照，但當時還不熟。,"['面試', '簡單', '自我', '會不會', '開車', '駕照', '熟']"
3,3,裕隆集團_納智捷汽車股份有限公司,人力資源管理師,2021.09.12,2021.09,未錄取,第一關，人資面試\n...,"[{'Q': '結算薪資怎麼做', 'A': '照実回答'}]",NaN,第一關，人資面試。。結算薪資怎麼做？照実回答。,"['人資', '面試', '結算', '薪資', '照実', '回答']"
4,4,裕隆集團_納智捷汽車股份有限公司,秘書,2021.04.21,2017.09,錄取,在台南東區的廠二樓面...,"[{'Q': '與人交談方面的問題', 'A': '我是個開朗的人，比較...'}]",NaN,在台南東區的廠二樓面。與人交談方面的問題？我是個開朗的人，比較。,"['台南', '東區', '二樓面', '交談', '方面', '問題', '開朗']"
...,...,...,...,...,...,...,...,...,...,...,...
7249,7636,匯豐汽車股份有限公司,產品企劃專員,2018.04.20,2017.12,錄取,簡報說明令人印象深刻,"[{'Q': '針對產品提出看法', 'A': '直接腦袋中的想法講出...'}]",NaN,簡報說明令人印象深刻。針對產品提出看法？直接腦袋中的想法講出。,"['簡報', '說明', '令', '印象深刻', '產品', '提出', '看法', '直..."
7250,7637,匯豐汽車股份有限公司,SUM服務專員,2018.03.23,2010.06,錄取,面試過程其實很好，而...,"[{'Q': '時間有點久不太記得，但是要看你遇到的廠長是好是壞!', 'A': '時間有點...",NaN,面試過程其實很好，而。時間有點久不太記得，但是要看你遇到的廠長是好是壞!？時間有點久不太記得，。,"['面試', '過程', '時間', '記得', '遇到', '廠長', '壞', '時間'..."
7251,7638,匯豐汽車股份有限公司,總公司-品牌部,2018.01.24,2016.06,錄取,帶到會議室，等待面試...,[{'Q': '對於行銷與品牌的各種看法，EXCEL操作技能，網站經營(GA)，網路行銷規劃...,NaN,帶到會議室，等待面試。對於行銷與品牌的各種看法，EXCEL操作技能，網站經營(GA)，網路行...,"['帶到', '會議室', '等待', '面試', '行銷', '品牌', '看法', 'E..."
7252,7639,匯豐汽車股份有限公司,技師,2017.12.24,2002.06,錄取,直接面試 問維修相關...,"[{'Q': '需配合值班可否接受 前份工作為何離職', 'A': '可以\n\n職涯規劃'}]",NaN,直接面試 問維修相關。需配合值班可否接受 前份工作為何離職？可以。職涯規劃。,"['直接面試問', '維修', '相關', '需', '配合', '值班', '可否', '..."
7253,7640,匯豐汽車股份有限公司,貸款課,2017.12.24,2017.11,錄取,面試的過程談論一些公...,"[{'Q': '是否能接受假日工作', 'A': '不需要特別建議，採個...'}]",NaN,面試的過程談論一些公。是否能接受假日工作？不需要特別建議，採個。,"['面試', '過程', '談論', '接受', '假日', '工作', '需要', '特別..."

In [24]:
# 只用有解鎖的文章
# df_open = df_[df_['process'].apply(lambda x: isopen(x))].reset_index(drop='index')
df_open = df_[~df_['suggestion'].isna()]
df_open.shape

(536, 11)

In [25]:
# 字典型態的資料
# 資料轉為字典，比較方便去做計算
dict_ = df_open.to_dict(orient='records')

In [26]:
# 取得根據每個構面下的類別名稱，計算該類別名稱出現多少次，來去計算dtm
for structure in list(structure_dict.keys()):
    for data in dict_:
        data[structure] = get_dict_num(structure, data['content'])

In [27]:
# DTM for 趨勢圖
# 把用不到的欄位踢除
kick_off_key = ['company_name','status','process','question','suggestion','frequency_overtime','Q_content']
data_list = [{k: v for k, v in d.items() if k not in kick_off_key} for d in dict_]
# 得到DTM DataFrame
dtm_df = pd.DataFrame(data_list)
dtm_df.shape

(536, 63)

In [28]:
# DTM for correlation & co-ocurence #把用不到的欄位踢除
kick_off_ = ['vacancies','post_time','interview_time','content','company_name','status','process','question','suggestion','frequency_overtime','Q_content', 'word', 'aID']
co_ = [{k: v for k, v in d.items() if k not in kick_off_} for d in dict_]
dtm_co = pd.DataFrame(co_)
dtm_co.head()

,成就感,學習成長,創新,薪資,福利,管理制度,工作氛圍,同事互動,主管風格,工作地點,...,工作,離職,轉職,新鮮人,畢業,出路,能力,招募人員,正向,負向
0,0,0,0,0,0,2,0,0,2,1,...,1,0,0,0,0,0,6,3,2,218
1,0,0,0,3,1,1,0,0,0,0,...,1,0,0,0,0,0,0,1,2,241
2,0,0,0,0,0,0,1,0,2,0,...,0,0,0,0,0,0,0,2,3,192
3,0,2,0,0,0,5,0,1,2,0,...,2,0,0,0,0,0,4,3,12,647
4,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,2,2,1,189

In [29]:
dtm_df.head()

,aID,vacancies,post_time,interview_time,content,word,成就感,學習成長,創新,薪資,...,工作,離職,轉職,新鮮人,畢業,出路,能力,招募人員,正向,負向
0,41,職員,2023.03.24,2023.03,首先會先做專業能力測驗，大約50分鐘，再來會做英文多益測驗40分鐘，做完後就進行視訊面試，1...,"['專業', '能力', '測驗', '分鐘', '英文', '多益', '測驗', '分鐘...",0,0,0,0,...,1,0,0,0,0,0,6,3,2,218
1,42,客服,2023.03.24,2023.01,覺得很浪費時間，我面試大夜班，到現場要先測試聽力打字，現場很吵，然後反應也沒用，也不知道在測...,"['浪費', '時間', '面試', '大夜班', '現場', '測試', '聽力', '打...",0,0,0,3,...,1,0,0,0,0,0,0,1,2,241
2,43,職員,2023.03.06,2018.01,主管是一個溫文儒雅的先生 真的感覺得出來他非常誠懇 然後問的問題沒有太多深入的題目 主要就是...,"['主管', '溫文儒雅', '先生', '感覺', '誠懇', '問題', '深入', '...",0,0,0,0,...,0,0,0,0,0,0,0,2,3,192
3,44,物料管理實習生,2023.03.02,2022.05,面試是以視訊面試進行，除了HR以外還有一個物料管理部門的主管（？）之類的長官，整體面試進行的...,"['面試', '視訊', '面試', 'HR', '物料', '管理', '部門', '主管...",0,2,0,0,...,2,0,0,0,0,0,4,3,12,647
4,45,職員,2023.02.16,2021.06,先遠端考英文及專業測驗，大約1個半小時，而後開始視訊面試。面談大約進行一小時，面試官有3-4...,"['遠', '端考', '英文', '專業', '測驗', '小時', '視訊', '面試'...",0,0,0,0,...,0,0,0,0,0,0,2,2,1,189

In [30]:
def get_ym(time):
    l = time.split('.')
    return l[0]+"-"+l[1]

In [31]:
# # 新增年月日欄位
# date_format = '%Y.%m.%d'
# dtm_df['post_time'] = dtm_df['post_time'].apply(lambda x: datetime.strptime(x, date_format))
# dtm_df['p_year'] = dtm_df['post_time'].apply(lambda x: x.year)
# dtm_df['p_month'] = dtm_df['post_time'].apply(lambda x: x.month)
# dtm_df['p_day'] = dtm_df['post_time'].apply(lambda x: x.day)
dtm_df['p_year_month'] = dtm_df['post_time'].apply(lambda x: get_ym(x))
dtm_df = dtm_df.reindex(columns=['vacancies', 'post_time', 'p_year_month', 'interview_time', 'content', 'word', '成就感', '學習成長',
       '創新', '薪資', '福利', '管理制度', '工作氛圍', '同事互動', '主管風格', '工作地點', '公司規模',
       '工作環境', '產業前景', '輪調', '外派', '出差', '引擎', '馬力', '避震', '外觀', '操控', '安全',
       '堅固', '配備', '價錢', '科技', '品質', '折舊', '品牌', '空間', '保養', '續航', '尺寸', '車種',
       '驅動', '變速箱', '電資', '機械', '製造', '車輛工程', '品管', '多元性', '企業社會責任', '企業永續目標',
       '面試', '徵才', '實習', '工作', '離職', '轉職', '新鮮人', '畢業', '出路', '能力', '招募人員',
       '正向', '負向'])
dtm_df

,vacancies,post_time,p_year_month,interview_time,content,word,成就感,學習成長,創新,薪資,...,工作,離職,轉職,新鮮人,畢業,出路,能力,招募人員,正向,負向
0,職員,2023.03.24,2023-03,2023.03,首先會先做專業能力測驗，大約50分鐘，再來會做英文多益測驗40分鐘，做完後就進行視訊面試，1...,"['專業', '能力', '測驗', '分鐘', '英文', '多益', '測驗', '分鐘...",0,0,0,0,...,1,0,0,0,0,0,6,3,2,218
1,客服,2023.03.24,2023-03,2023.01,覺得很浪費時間，我面試大夜班，到現場要先測試聽力打字，現場很吵，然後反應也沒用，也不知道在測...,"['浪費', '時間', '面試', '大夜班', '現場', '測試', '聽力', '打...",0,0,0,3,...,1,0,0,0,0,0,0,1,2,241
2,職員,2023.03.06,2023-03,2018.01,主管是一個溫文儒雅的先生 真的感覺得出來他非常誠懇 然後問的問題沒有太多深入的題目 主要就是...,"['主管', '溫文儒雅', '先生', '感覺', '誠懇', '問題', '深入', '...",0,0,0,0,...,0,0,0,0,0,0,0,2,3,192
3,物料管理實習生,2023.03.02,2023-03,2022.05,面試是以視訊面試進行，除了HR以外還有一個物料管理部門的主管（？）之類的長官，整體面試進行的...,"['面試', '視訊', '面試', 'HR', '物料', '管理', '部門', '主管...",0,2,0,0,...,2,0,0,0,0,0,4,3,12,647
4,職員,2023.02.16,2023-02,2021.06,先遠端考英文及專業測驗，大約1個半小時，而後開始視訊面試。面談大約進行一小時，面試官有3-4...,"['遠', '端考', '英文', '專業', '測驗', '小時', '視訊', '面試'...",0,0,0,0,...,0,0,0,0,0,0,2,2,1,189
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
531,引電技師,2022.12.04,2022-12,2021.04,一開始課長會先給你一份試卷，裡面包含了汽車原理，專有名詞英翻中，繼電器原理，與實境題目，考完...,"['課長', '試卷', '包含', '汽車', '原理', '專有名詞', '英翻中', ...",0,0,0,2,...,2,0,0,0,0,0,0,0,6,279
532,教育訓練講師,2023.04.09,2023-04,2021.07,筆試時間大約兩個小時。包含英文測驗、過去在學的經歷等等，比如過去做的專題、遇到困難時要怎麼辦...,"['筆試', '時間', '小時', '包含', '英文', '測驗', '過去', '在學...",0,1,0,2,...,1,0,0,0,0,0,1,2,6,228
533,專員,2023.03.26,2023-03,2021.12,第一一關進行筆試，主要是考英文，英文建議有850以上的實力會比較好作答。第二關個案分析，給你...,"['第一一', '筆試', '英文', '英文', '建議', '850', '實力', '...",0,1,0,1,...,0,0,0,0,0,0,1,2,4,210
534,會計助理,2023.03.01,2023-03,2020.09,工作環境很好，畢竟以車業來說，公司環境也算是門面，面試有筆試完後會計主管會面談，談話過程還算...,"['工作環境', '車業', '公司', '環境', '門面', '面試', '筆試', '...",0,0,0,1,...,3,0,0,0,0,0,1,2,3,200
535,實習生,2023.01.15,2023-01,2021.03,是副廠長跟人資幫我面試的，一開始先自我介紹然後會問說以前有沒有修車的經驗等等。然後會說希望在...,"['副廠長', '人資', '面試', '自我介紹', '車', '經驗', '希望', '...",0,5,0,1,...,0,0,0,0,0,0,0,1,3,218

In [32]:
dtm_df.to_csv('dtm_result.csv', encoding='utf-8')

### 計算correlation

In [33]:
df_correlation = pd.DataFrame(np.corrcoef(dtm_co.T),columns=dtm_co.columns, index=dtm_co.columns)

/Users/changchenyu/opt/anaconda3/envs/sma/lib/python3.7/site-packages/numpy/lib/function_base.py:2691: RuntimeWarning: invalid value encountered in true_divide
  c /= stddev[:, None]
/Users/changchenyu/opt/anaconda3/envs/sma/lib/python3.7/site-packages/numpy/lib/function_base.py:2692: RuntimeWarning: invalid value encountered in true_divide
  c /= stddev[None, :]

In [34]:
df_corre_vect = df_correlation.reset_index()
df_corre_vect.rename(columns={'index': 'item1'}, inplace=True)
df_corre_vect

,item1,成就感,學習成長,創新,薪資,福利,管理制度,工作氛圍,同事互動,主管風格,...,工作,離職,轉職,新鮮人,畢業,出路,能力,招募人員,正向,負向
0,成就感,1.000000,-0.000119,-0.014418,0.097580,-0.066284,-0.026427,0.071807,-0.020816,-4.124138e-02,...,0.114720,0.029214,-0.020394,-0.013338,-0.001949,0.040673,-0.019865,-0.050771,0.149264,0.023768
1,學習成長,-0.000119,1.000000,0.001568,-0.027806,-0.007877,0.035791,-0.026147,0.105572,1.569350e-01,...,0.166179,-0.016229,-0.000077,0.179581,0.022597,0.015464,0.118872,0.223697,0.204539,0.234187
2,創新,-0.014418,0.001568,1.000000,-0.000529,-0.023529,-0.005708,-0.037661,0.030787,1.765723e-02,...,0.008538,0.019899,-0.009355,-0.018636,-0.016352,0.069357,0.023298,0.071441,0.075824,0.088018
3,薪資,0.097580,-0.027806,-0.000529,1.000000,0.547227,0.221022,0.084757,-0.062142,-8.415114e-03,...,0.161324,0.176662,-0.047953,0.010263,0.143088,0.036036,-0.040794,-0.004118,0.145981,0.175711
4,福利,-0.066284,-0.007877,-0.023529,0.547227,1.000000,0.163100,0.062302,-0.079826,-9.224759e-02,...,0.138132,0.093797,-0.006533,-0.003836,0.021168,-0.006554,-0.050515,-0.065098,0.177496,0.123148
5,管理制度,-0.026427,0.035791,-0.005708,0.221022,0.163100,1.000000,0.122984,0.034417,4.472717e-02,...,0.195625,0.022969,-0.000133,-0.071439,0.069160,-0.000276,-0.008886,0.059818,0.061815,0.197388
6,工作氛圍,0.071807,-0.026147,-0.037661,0.084757,0.062302,0.122984,1.000000,0.196507,2.556241e-03,...,0.240824,-0.000823,-0.007180,-0.013095,0.115756,0.011742,0.146173,0.056332,0.207227,0.273460
7,同事互動,-0.020816,0.105572,0.030787,-0.062142,-0.079826,0.034417,0.196507,1.000000,3.480725e-02,...,0.170555,-0.025811,0.125959,-0.020259,0.067501,0.081319,0.483063,0.081401,0.206496,0.321326
8,主管風格,-0.041241,0.156935,0.017657,-0.008415,-0.092248,0.044727,0.002556,0.034807,1.000000e+00,...,0.101650,0.009175,0.032112,-0.011783,0.141884,-0.011186,0.111491,0.793046,0.202123,0.347078
9,工作地點,0.005476,-0.018499,0.135169,0.108650,0.077922,0.027548,0.029830,-0.020909,7.971102e-02,...,0.100659,0.127045,0.003553,-0.038128,0.057386,-0.016963,0.047220,0.099956,0.059501,0.177595
10,公司規模,-0.037210,0.043825,-0.017069,0.009400,0.021356,0.080468,-0.006093,-0.013077,5.370707e-02,...,-0.002856,0.009432,-0.024144,-0.015791,0.217114,0.011351,-0.002161,0.108702,0.062850,0.121784
11,工作環境,-0.025672,0.025969,0.061083,0.165818,0.299567,0.044125,0.137725,0.016414,-4.140396e-02,...,0.247581,0.051710,-0.031739,0.007930,0.048505,0.026159,-0.014928,-0.005031,0.180199,0.196646
12,產業前景,-0.019514,0.156977,0.071800,-0.007115,-0.034153,-0.048652,0.063334,0.191858,3.009016e-02,...,0.069487,-0.045893,0.111077,0.062596,-0.016586,0.212899,0.330814,0.095632,0.077181,0.203381
13,輪調,0.042690,-0.042017,-0.008940,0.055673,-0.029772,0.196202,0.026173,0.020412,-2.685119e-02,...,0.091387,0.034583,-0.012646,-0.025190,-0.022104,-0.026179,-0.020706,-0.035039,-0.038396,0.072179
14,外派,0.002733,0.054738,-0.011424,0.065504,0.101250,-0.034310,-0.039358,-0.041065,-4.177163e-02,...,0.032854,0.001921,-0.016159,0.125740,-0.028246,-0.018461,0.009429,0.041191,0.017326,0.077979
15,出差,-0.021915,-0.010171,0.044374,0.093729,0.110567,0.006837,0.068827,0.003445,6.587545e-02,...,0.092267,0.017676,0.084762,-0.028325,-0.024855,0.025732,0.054754,0.053319,0.038438,0.124870
16,引擎,-0.007665,0.031022,-0.003516,0.061814,0.038671,-0.000050,-0.020021,-0.016989,-3.059267e-18,...,-0.015969,-0.013601,-0.004973,-0.009907,-0.008693,-0.010296,-0.008144,-0.017977,0.040309,-0.021941
17,馬力,0.024529,0.235426,0.087875,0.174925,0.121936,0.196253,0.276208,0.322087,3.478840e-01,...,0.360257,0.087341,0.028961,0.016428,0.345643,0.084784,0.381340,0.557886,0.509686,0.999932
18,避震,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,外觀,-0.016443,-0.006307,0.048609,0.143311,0.098400,0.014296,-0.042951,0.003805,-3.398148e-02,...,0.015236,0.029177,-0.010669,-0.021253,-0.018649,0.063288,0.013495,-0.047568,0.086474,0.056747
20,操控,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,安全,-0.019227,-0.043344,-0.008820,0.088301,0.080957,-0.015097,0.017371,0.013165,-2.943286e-02,...,-0.007906,-0.003791,-0.012475,-0.024851,-0.021806,0.181226,-0.059049,-0.059130,0.082810,0.046592
22,堅固,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,配備,-0.027468,0.008078,0.163969,0.053221,0.090036,-0.051134,0.030498,0.002401,-4.007051e-02,...,0.098405,-0.002867,-0.017823,-0.035503,-0.031154,-0.014525,-0.014578,-0.018420,0.064854,0.044605
24,價錢,-0.012536,-0.015918,-0.005751,0.052133,0.016164,-0.000082,-0.032746,0.054046,3.454320e-02,...,0.002182,-0.022245,-0.008134,-0.016203,-0.014218,-0.016839,-0.032205,-0.008810,0.005511,-0.019298
25,科技,-0.025529,-0.038880,0.038107,0.072928,0.032917,-0.025725,0.034285,-0.020876,-5.527240e-02,...,0.018167,0.110017,-0.016565,-0.032998,-0.028955,-0.034293,-0.043608,-0.019939,0.024893,0.017186
26,品質,-0.031980,0.020608,0.055225,0.118005,0.074868,0.214942,0.048008,-0.037484,6.344834e-02,...,-0.012723,-0.002270,0.042806,-0.041336,-0.036271,-0.042958,0.066238,0.065076,0.006523,0.095563
27,折舊,-0.007665,0.085361,-0.003516,-0.018023,-0.018906,0.134234,-0.020021,0.083079,-4.224065e-02,...,0.145530,-0.013601,-0.004973,-0.009907,-0.008693,-0.010296,-0.031238,0.049170,0.007474,0.158852
28,品牌,-0.019489,0.009795,0.090891,0.144485,0.107479,0.042553,-0.031638,0.004510,1.678199e-02,...,0.018059,0.069165,-0.012646,0.019224,0.197298,-0.026179,-0.013366,0.058331,0.123366,0.138772
29,空間,0.030236,-0.002366,-0.012307,0.088284,0.034592,0.070329,-0.034710,0.013505,-6.160575e-03,...,0.051778,0.047607,-0.017408,0.087605,0.019910,0.149696,0.092753,0.000731,0.040527,0.101996
30,保養,0.010626,0.102895,-0.011662,0.021134,0.053999,0.074067,0.056486,0.017407,-5.059387e-02,...,0.061819,-0.005012,-0.016496,-0.007110,-0.028834,0.004962,-0.044034,0.036265,0.027815,0.094706
31,續航,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,尺寸,0.017764,0.054610,0.034500,0.045956,0.000946,-0.006080,0.040679,0.076104,3.721003e-02,...,0.130160,0.050920,-0.016429,-0.032727,0.009289,-0.034011,-0.011643,0.051522,0.021073,0.108885
33,車種,-0.016230,-0.016498,0.119237,0.058437,-0.005199,0.008018,-0.042393,0.024566,3.833207e-02,...,0.008059,0.102853,-0.010531,-0.020977,-0.018407,0.042403,-0.003271,0.027947,0.120115,0.123280
34,驅動,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,變速箱,-0.007665,0.248377,-0.003516,0.021895,0.096249,-0.000050,0.040608,-0.016989,-4.224065e-02,...,-0.039040,-0.013601,-0.004973,-0.009907,-0.008693,-0.010296,-0.031238,-0.034764,-0.008944,-0.024286
36,電資,-0.030062,0.081565,0.039707,0.054148,0.003757,0.021023,0.081533,0.178605,2.098369e-03,...,0.142138,-0.022972,-0.032117,0.130392,0.029589,0.102213,0.208988,0.067366,0.113511,0.241341
37,機械,0.055677,0.017119,-0.010628,0.122491,0.047276,-0.005563,0.269356,0.140214,2.604720e-17,...,0.193486,0.024667,-0.015033,-0.001786,0.078051,0.033036,0.077771,0.064057,0.105300,0.205621
38,製造,-0.019913,0.021954,-0.012482,-0.045866,0.018081,0.065779,0.014868,0.053853,6.145495e-02,...,0.079866,0.046425,0.072316,-0.013451,-0.011548,0.012276,0.083521,0.009656,0.047765,0.121704
39,車輛工程,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,品管,-0.031980,0.011539,0.055225,0.137992,0.103696,0.188048,0.037889,0.004269,7.049815e-02,...,0.010381,0.015890,0.042806,-0.041336,-0.036271,-0.042958,0.035402,0.059472,0.028444,0.086914
41,多元性,0.034291,0.114540,-0.015098,0.128299,0.086938,0.128946,0.049406,0.021581,8.343467e-02,...,0.141452,0.091106,-0.021355,0.149472,0.170161,0.065158,0.044367,0.113104,0.108229,0.136770
42,企業社會責任,-0.010850,0.005453,-0.004977,0.002741,-0.026762,0.018937,-0.028341,0.188427,-4.978785e-18,...,0.010053,-0.019253,0.262487,0.084880,-0.012305,0.360987,0.086548,0.022078,0.057059,0.073998
43,企業永續目標,-0.009701,0.022069,-0.004450,-0.010180,-0.023928,0.025430,-0.025339,0.168471,1.336516e-02,...,0.023588,-0.017214,0.355179,0.031676,-0.011002,0.154863,0.048152,0.019739,0.009459,0.047390
44,面試,0.004409,0.097760,0.082052,0.012156,-0.030460,0.016931,0.134237,0.189780,2.371694e-01,...,0.178548,0.020614,-0.016087,0.045429,0.288074,-0.018333,0.251033,0.507754,0.271580,0.580028
45,徵才,-0.036056,0.008840,-0.016540,0.021173,-0.026898,0.017409,0.049218,-0.008257,2.123045e-01,...,0.110715,0.041820,0.046659,-0.022733,0.149588,0.063127,0.096432,0.238141,0.072263,0.242388
46,實習,0.005357,0.357610,0.050878,-0.081012,-0.033573,0.008912,-0.001927,0.243397,1.042970e-01,...,0.084373,-0.058582,0.048748,0.052199,0.016898,0.066813,0.228719,0.143050,0.237271,0.245882
47,工作,0.114720,0.166179,0.008538,0.161324,0.138132,0.195625,0.240824,0.170555,1.016501e-01,...,1.000000,0.224567,-0.016181,-0.029934,0.136358,0.000018,0.074021,0.149872,0.133039,0.360637
48,離職,0.029214,-0.016229,0.019899,0.176662,0.093797,0.022969,-0.000823,-0.025811,9.174994e-03,...,0.224567,1.000000,-0.036188,0.018970,0.030456,0.017288,-0.094371,-0.001367,0.054382,0.088624
49,轉職,-0.020394,-0.000077,-0.009355,-0.047953,-0.006533,-0.000133,-0.007180,0.125959,3.211150e-02,...,-0.016181,-0.036188,1.000000,-0.026360,-0.023130,-0.027394,0.022224,0.035118,0.001164,0.027633
50,新鮮人,-0.013338,0.179581,-0.018636,0.010263,-0.003836,-0.071439,-0.013095,-0.020259,-1.178341e-02,...,-0.029934,0.018970,-0.026360,1.000000,0.002066,0.197070,0.059918,0.042862,0.016713,0.016662
51,畢業,-0.001949,0.022597,-0.016352,0.143088,0.021168,0.069160,0.115756,0.067501,1.418836e-01,...,0.136358,0.030456,-0.023130,0.002066,1.000000,-0.011323,0.125231,0.205550,0.195956,0.345620
52,出路,0.040673,0.015464,0.069357,0.036036,-0.006554,-0.000276,0.011742,0.081319,-1.118612e-02,...,0.000018,0.017288,-0.027394,0.197070,-0.011323,1.000000,0.099480,-0.019003,0.133339,0.085161
53,能力,-0.019865,0.118872,0.023298,-0.040794,-0.050515,-0.008886,0.146173,0.483063,1.114915e-01,...,0.074021,-0.094371,0.022224,0.059918,0.125231,0.099480,1.000000,0.153471,0.205139,0.380619
54,招募人員,-0.050771,0.223697,0.071441,-0.004118,-0.065098,0.059818,0.056332,0.081401,7.930462e-01,...,0.149872,-0.001367,0.035118,0.042862,0.205550,-0.019003,0.153471,1.000000,0.288923,0.556911
55,正向,0.149264,0.204539,0.075824,0.145981,0.177496,0.061815,0.207227,0.206496,2.021231e-01,...,0.133039,0.054382,0.001164,0.016713,0.195956,0.133339,0.205139,0.288923,1.000000,0.509032
56,負向,0.023768,0.234187,0.088018,0.175711,0.123148,0.197388,0.273460,0.321326,3.470784e-01,...,0.360637,0.088624,0.027633,0.016662,0.345620,0.085161,0.380619,0.556911,0.509032,1.000000

In [35]:
corr_melt_df = pd.melt(df_corre_vect, id_vars='item1', value_vars=list(df_corre_vect.columns)[1:], var_name='item2', value_name='correlation')
corr_melt_df.rename(columns={'index':'item1'},inplace=True)
corr_melt_df

     item1 item2  correlation
0      成就感   成就感     1.000000
1     學習成長   成就感    -0.000119
2       創新   成就感    -0.014418
3       薪資   成就感     0.097580
4       福利   成就感    -0.066284
...    ...   ...          ...
3244    出路    負向     0.085161
3245    能力    負向     0.380619
3246  招募人員    負向     0.556911
3247    正向    負向     0.509032
3248    負向    負向     1.000000

[3249 rows x 3 columns]

In [36]:
new_dict

{'人際價值': ['工作氛圍', '同事互動', '主管風格'],
 '公司文化與價值': ['多元性', '企業社會責任', '企業永續目標'],
 '情緒': ['正向', '負向'],
 '成長價值': ['成就感', '學習成長', '創新'],
 '招募人員': ['招募人員'],
 '招募資訊': ['面試', '徵才', '實習', '工作', '離職', '轉職', '新鮮人', '畢業', '出路', '能力'],
 '產品與服務': ['引擎',
  '馬力',
  '避震',
  '外觀',
  '操控',
  '安全',
  '堅固',
  '配備',
  '價錢',
  '科技',
  '品質',
  '折舊',
  '品牌',
  '空間',
  '保養',
  '續航',
  '尺寸',
  '車種',
  '驅動',
  '變速箱'],
 '科系專業': ['電資', '機械', '製造', '車輛工程', '品管'],
 '組織安全與安定': ['工作地點', '公司規模', '工作環境', '產業前景'],
 '經濟報酬': ['薪資', '福利', '管理制度'],
 '變化性': ['輪調', '外派', '出差']}

In [37]:
def get_class_by_subclass(sub_class):
    for k, v in new_dict.items():
        if (sub_class in v):
            return k

In [38]:
corr_melt_df2 = corr_melt_df[~corr_melt_df['correlation'].isnull()].reset_index(drop='index')
corr_melt_df2['class'] = corr_melt_df2['item1'].apply(lambda x: get_class_by_subclass(x))
corr_melt_df2

     item1 item2  correlation class
0      成就感   成就感     1.000000  成長價值
1     學習成長   成就感    -0.000119  成長價值
2       創新   成就感    -0.014418  成長價值
3       薪資   成就感     0.097580  經濟報酬
4       福利   成就感    -0.066284  經濟報酬
...    ...   ...          ...   ...
2596    出路    負向     0.085161  招募資訊
2597    能力    負向     0.380619  招募資訊
2598  招募人員    負向     0.556911  招募人員
2599    正向    負向     0.509032    情緒
2600    負向    負向     1.000000    情緒

[2601 rows x 4 columns]

In [39]:
corr_melt_df3 = corr_melt_df2[(corr_melt_df2['correlation'] <0) & (corr_melt_df2['correlation'] < 100)]
corr_melt_df3

     item1 item2  correlation  class
1     學習成長   成就感    -0.000119   成長價值
2       創新   成就感    -0.014418   成長價值
4       福利   成就感    -0.066284   經濟報酬
5     管理制度   成就感    -0.026427   經濟報酬
7     同事互動   成就感    -0.020816   人際價值
...    ...   ...          ...    ...
2512    輪調    正向    -0.038396    變化性
2529   變速箱    正向    -0.008944  產品與服務
2566    引擎    負向    -0.021941  產品與服務
2571    價錢    負向    -0.019298  產品與服務
2580   變速箱    負向    -0.024286  產品與服務

[1114 rows x 4 columns]

In [40]:
a = list(corr_melt_df2['class'].unique())
a

['成長價值',
 '經濟報酬',
 '人際價值',
 '組織安全與安定',
 '變化性',
 '產品與服務',
 '科系專業',
 '公司文化與價值',
 '招募資訊',
 '招募人員',
 '情緒']

In [41]:
a.sort()
a

['人際價值',
 '公司文化與價值',
 '情緒',
 '成長價值',
 '招募人員',
 '招募資訊',
 '產品與服務',
 '科系專業',
 '組織安全與安定',
 '經濟報酬',
 '變化性']

In [42]:
corr_melt_df2.to_csv('interview_corr.csv', encoding='utf-8')

In [43]:
corr_melt_df[corr_melt_df['item1'] == '負向'].sort_values(['correlation'], ascending=False)[1:7]

     item1 item2  correlation
1025    負向    馬力     0.999932
2564    負向    面試     0.580028
3134    負向  招募人員     0.556911
3191    負向    正向     0.509032
3077    負向    能力     0.380619
2735    負向    工作     0.360637

### 計算 co-occurrence

In [178]:
result = np.dot(dtm_co.T.values, dtm_co.values)
co_occurrence_df = pd.DataFrame(result, columns=dtm_co.columns, index=dtm_co.columns)
co_occurrence_df.head()

,成就感,學習成長,創新,薪資,福利,管理制度,工作氛圍,同事互動,主管風格,工作地點,...,工作,離職,轉職,新鮮人,畢業,出路,能力,招募人員,正向,負向
成就感,19,9,0,14,1,9,3,4,19,0,...,38,3,0,1,1,0,12,32,77,4169
學習成長,9,338,4,54,51,182,56,105,448,24,...,397,17,2,40,9,22,336,741,790,72241
創新,0,4,6,0,0,6,0,6,1,0,...,6,0,0,0,0,0,16,8,30,1596
薪資,14,54,0,592,243,303,74,32,318,49,...,414,43,0,16,23,16,206,498,716,66516
福利,1,51,0,243,248,213,52,22,187,25,...,259,16,0,9,4,11,136,311,543,42820

In [181]:
df_ocurr_vect = co_occurrence_df.reset_index()
df_ocurr_vect.rename(columns={'index': 'item1'}, inplace=True)
df_ocurr_vect
ocurr_melt_df = pd.melt(df_ocurr_vect, id_vars='item1', value_vars=list(df_ocurr_vect.columns)[1:], var_name='item2', value_name='ocurrelation')
ocurr_melt_df.rename(columns={'index':'item1'},inplace=True)
ocurr_melt_df

     item1 item2  ocurrelation
0      成就感   成就感            19
1     學習成長   成就感             9
2       創新   成就感             0
3       薪資   成就感            14
4       福利   成就感             1
...    ...   ...           ...
3244    出路    負向         10597
3245    能力    負向        221842
3246  招募人員    負向        482379
3247    正向    負向        525814
3248    負向    負向      53580858

[3249 rows x 3 columns]